#built application files
*.apk
*.ap_
*.aab

# files for the dex VM
*.dex

*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/appInsightsSettings.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
/build
/keystore.jks
/build-logic/build
/build-logic/convention/build
/core/common/build
/core/database/build
/core/datastore/build
/core/model/build
/core/navigation/build
/core/testing/build
/feature/listacompra/build
/feature/listaproduto/build
/feature/onboarding/build
/.gradle
/build-logic/.gradle
/captures
.externalNativeBuild
.cxx
local.properties
